.MuiTab-wrapper:hover{
    color: #00b6f3;
}



.jss4464 {
    color: #1a202c;
    font-size: 14px;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
div {
    display: block;
}
body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: normal;
    line-height: 14px;
    background-color: #fff;
}
.jss4465 {
    color: #ffffff;
    height: 105px;
    background-color: #00b6f3;
}
.jss4464 {
    font-size: 14px;
}
.jss4467 {
    height: 100%;
    display: flex;
    padding: 16px 0;
    flex-direction: column;
    justify-content: space-between;
}
.jss2821 {
    margin: 0 auto;
    max-width: 1188px;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.jss4465 {
    color: #ffffff;
}
.jss4464 {
    font-size: 14px;
}
.jss4612 {
    display: flex;
    align-items: center;
    line-height: 22px;
}

.jss4468 {
    color: #ffffff;
}

.MuiLink-underlineHover {
    text-decoration: none;
}
.MuiTypography-root {
    margin: 0;
}
.jss4612 {
    line-height: 22px;
}
.jss4466 {
    margin: 0 4px;
    stroke: #ffffff;
    transform: rotate(270deg);
}

svg {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

.svgFill *,
.svgFillAll * {
    fill: inherit;
    stroke: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:not(svg) {
    transform-origin: 0px 0px;
}
.jss4615 {
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.jss2821 {
    margin: 0 auto;
    max-width: 1188px;
}
.jss4464 {
    color: #1a202c;
    font-size: 14px;
}
.MuiTabs-root {
    display: flex;
    overflow: hidden;
    min-height: 48px;
    padding-bottom: 10px;
}

element.style {
    overflow: hidden;
}

.MuiTabs-fixed {
    width: 100%;
    overflow-x: hidden;
}

.MuiTabs-scroller {
    flex: 1 1 auto;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.MuiTabs-flexContainer {
    display: flex;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.MuiTabs-scroller {
    white-space: nowrap;
}

.MuiTab-textColorInherit.Mui-selected {
    opacity: 1;
}

.jss4469 {
    font-weight: 600;
    line-height: 17px;
    text-transform: none;
}

.MuiTab-root {
    min-width: 160px;
}
.MuiTab-root {
    padding: 6 px 12 px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    max-width: 264 px;

    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    white-space: normal;
}

.MuiButtonBase-root {
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
}
.MuiTab-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.jss4469 {
    color: #1a202c;
    opacity: 1;
    font-weight: 600;
    line-height: 17px;
    text-transform: none;
}
.MuiTab-root {
    min-width: 160 px;
}
.MuiTab-root {
    padding: 6 px 12 px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    max-width: 264 px;
    box-sizing: border-box;
    min-height: 48 px;
    text-align: center;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    white-space: normal;
}
.MuiButtonBase-root {
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;

    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

/*span*/
element.style {
    left: 0 px;
    width: 160 px;
}
.jss4511 {
    background: #00b6f3;
}

.jss4512 {
    width: 100%;
    bottom: 0;
    height: 2 px;
    position: absolute;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.jss4617 {
    padding-top: 16 px;
}

*::before,
*::after {
    box-sizing: inherit;
}

.jss4590 {
    border: 1 px solid #edf2f7;
    display: flex;
    padding: 32 px 0 42 px 40 px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 8 px;
    margin-bottom: 100 px;
    background-color: #ffffff;
}
.MuiBadge-root {
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
element.style {
    display: none;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
    margin: 0em;
}

.jss4592 {
    width: 124 px;
    height: 124 px;
}
.MuiAvatar-root {
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.4285714285714286rem;
    align-items: center;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}
.MuiAvatar-img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000 px;
}
.MuiBadge-anchorOriginBottomRightCircle {
    right: 14%;
    bottom: 14%;
    transform: scale(1) translate(50%, 50%);
    transform-origin: 100% 100%;
}

.MuiBadge-badge {
    height: 20 px;
    display: flex;
    padding: 0 6 px;
    z-index: 1;
    position: absolute;
    flex-wrap: wrap;
    font-size: 0.8571428571428571rem;
    min-width: 20 px;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    line-height: 1;
    align-content: center;
    border-radius: 10 px;
    flex-direction: row;
    justify-content: center;
}
.jss4593 {
    width: 32 px;
    height: 32 px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #ffffff;
}
.jss4622 {
    max-width: 480 px;
    padding-left: 40 px;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
form {
    display: block;
    margin-top: 0em;
    margin-left: 30px;
}
.MuiFormControl-fullWidth {
    width: 100%;
}
element.style {
    min-width: 120 px;
}
.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    margin-right: 16 px;
    flex-direction: column;
    vertical-align: top;
}

.jss4624 {
    margin-top: 5 px;
    margin-right: 0;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    margin-right: 16 px;
    flex-direction: column;
    vertical-align: top;
}

.jss4623 .MuiInputLabel-formControl {
    color: #718096;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: -7px;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.MuiInputLabel-shrink {
    transform: unset;
    transform-origin: top left;
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: relative;

    font-weight: normal;
    line-height: 14px;
}

.MuiInputLabel-root {
    display: block;
}

.MuiFormLabel-root {
    padding: 10px;
}
label {
    cursor: default;
}

.jss4624 .MuiInput-root {
    margin-top: 0 !important;
}

.MuiInput-root {
    position: relative;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;

    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: normal;
    line-height: 1.1876em;
}

.jss4624 .MuiInput-root .MuiInputBase-input {
    padding: 11 px 0 9 px;
}
.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 65%;
    border: 5 px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 1.1876 em;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
element.style {
    min-height: 20 px;
    padding-top: 8 px;
    color: initial;
}
.MuiFormHelperText-root {
    margin: 0;
    font-size: 12px;
    margin-top: 0;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: normal;
    line-height: 14px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1 px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}
.jss4626 {
    color: rgb(253, 253, 253);
    width: 100%;
    border: none;
    height: 44 px;
    margin: 0 px;
    padding: 10 px 40 px;
    font-size: 16px;
    min-height: 20 px;
    font-weight: 600;
    border-radius: 8 px;
    text-transform: none;
    background-color: rgb(255, 51, 102);
}
.MuiButton-root {
    min-width: unset;
    box-sizing: border-box;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.MuiButtonBase-root {
    cursor: pointer;

    display: inline-flex;
    outline: 0;

    position: relative;
    align-items: center;
    user-select: none;

    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: left;
    padding-top: 10px;
}
.jss4627 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.jss4630 {
    color: rgb(0, 182, 243);
    width: 100%;
    border: none;
    height: 24 px;
    margin: 0 px;
    padding: 6 px 8 px;
    font-size: 14px;
    min-height: 20 px;
    font-weight: normal;
    border-radius: 4 px;
    text-transform: none;
    background-color: initial;
}

.jss4631 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.jss4632 {
    display: flex;
    align-items: center;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
main {
    display: block;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
::-webkit-scrollbar {
    width: 5 px;
    height: 5 px;
}
::-webkit-scrollbar {
    width: 8 px;
    height: 10 px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8 px;
    background: #bdbdbd;
}
::-webkit-scrollbar-thumb {
    border-radius: 10 px;
    background: #a0a0a0;
}
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

input[type="submit"] {
    width: 65%;
    background-color: rgb(255, 51, 102);
    color: white;
    padding: 14px 20px 20px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
