.main{
    width: 80%;
    margin: 150px 0 50px 0;
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.title-2{
    margin-top: 60px;
    font-weight: bold;
    font-size: x-large;
}
.title-3{
    margin-top: 90px;
    font-weight: bold;
    font-size: large;
}